<nav class="navbar">
	<div class="logo">
	  <img src="../../assets/2.jpg" alt="Logo">
	  <span>MushHub</span>
	</div>
	<ul class="nav-links">
	  <li><a href="#">Home</a></li>
	  <li><a href="#">Products</a></li>
	  <li><a href="#">About Us</a></li>
	  <li><a href="#">Contact</a></li>
	</ul>
	<div class="auth-buttons">
	  <button class="signup-button">SignUp</button>
	  <button class="login-button">Login</button>
	</div>
	<div class="icons">
		<i class="fas fa-search search-icon"></i>
		<i class="fas fa-user profile-icon"></i>
		<i class="fas fa-shopping-cart cart-icon"></i>
	</div>
  </nav>
  
  