<div class="signup-container">
	<div class="signup-form">
	  <h1>Welcome to MushHub</h1>
	  <p>Create your account here!</p>
	  <form>
		<input type="text" placeholder="First Name" required />
		<input type="text" placeholder="Last Name" required />
		<input type="email" placeholder="Email" required />
		<input type="password" placeholder="Password" required />
		<input type="password" placeholder="Confirm Password" required />
		<button type="submit">Create Account</button>
		<div class="or-separator">or</div>
		<button type="button" class="google-btn">
		  <img src="../../assets/google.svg" alt="Google Icon" /> Continue with Google
		</button>
		<p>
		  Already have an account? <a href="/login">Log In</a>
		</p>
	  </form>
	</div>
	<div class="background-image"></div>
  </div>
  